* {
    --gray-lightest: #EDEDED;
    --gray-light: #E8E5E5;
    --gray-lighter: #D9D9D9;
    --gray-medium: #C9C6C6;
    --gray-darkest: #494949;
    --error: #c30101;
    --error-background: #7E5D5D;
    --success: #04b104;
    --success-background: #018201;
}

html {
    background-color: var(--gray-light);
}