@import url('./colors.css');
@import url('./fonts.css');
@import url('./spacing.css');
@import url('./layouts.css');
@import url('./positions.css');
@import url('./border.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --width-mobile: 316px;
    --page-width: var(--width-mobile);
}

.page-width {
    width: var(--page-width);
}

.full-width {
    width: 100%;
}

.section-line {
    height: 1px;
    width: 100%;
    border: 1px solid var(--gray-medium);
}