.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

.hidden {
    display: none;
}

.show-desktop {
    display: none;
}

@media screen and (min-width: 1024px){
    .show-desktop {
        display: block;
    }
}